{% extends 'base.html' %}

{% block title %}{{ title }} | {{ SHOP_NAME }}{% endblock %}

{% block content %}
{% url 'inventory:brand_list' as list_url %}
{% include 'includes/simple_crud_form.html' with icon='las la-copyright' entity='Brand' plural='brands' list_url=list_url list_label='Brands' name_hint='Enter the manufacturer or brand name' tip1='Brands help identify product manufacturers' tip2='Use official brand names for consistency' tip3='You can filter products by brand in the product list' %}
{% endblock %}
