{% extends 'base.html' %}

{% block title %}{{ title }} | {{ SHOP_NAME }}{% endblock %}

{% block content %}
{% url 'inventory:category_list' as list_url %}
{% include 'includes/simple_crud_form.html' with icon='las la-tag' entity='Category' plural='categories' list_url=list_url list_label='Categories' name_hint='Enter a unique category name' tip1='Categories help organize your products' tip2='Use clear, descriptive names for easy identification' tip3='You can filter products by category in the product list' %}
{% endblock %}
